<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Willkommen</title>
  </head>
  <body>
    <h2> Willkommen <%= user %> </h2>
    <a href="/ueberweisung" class"button">Überweisung ausführen</a>
    <br>
    <a href="/login" class="button">Abmelden</a>
  </body>
</html>