<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
    <title>Konto anlegen</title>
  </head>
  <body>
    <h2>Konto anlegen</h2>
    <form method="POST" action="/kontoAnlegen">
      <p>Kontonummer</p>
      <input type="number" name="idKonto">  
      <br>
      <br>
      <br>                                        
      <button>Konto anlegen</button>
    </form>
  </body>
</html>