h2 { background-color: rgb(8, 90, 8);
    font-size: 30pt;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

p{
    font-size: 20pt;
    color: rgb(8, 90, 8);
    font-weight: bold;
}

button {
    background-color:   rgb(8, 90, 8); /* Green */
    border: black;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
